@mixin centered-text{
  text-align: center;
  vertical-align: middle;
}

$bgColor_light: white;
$bgColor_dark: #2e2e2e;

$textColor_light: black;
$textColor_dark: white;

$borderColor_light: black;
$borderColor_dark: white;

$sideBarColor_light: #EBFBFF;
$sideBarColor_dark: #312c30;

$gridHighLightColor_light: #e8e8e8;
$gridHighLightColor_dark: #474747;

// mixin that enables css variables in light mode
@mixin lighten() {
  --backgroundColor: #{$bgColor_light};
  --sideBarColor: #{$sideBarColor_light};
  --sideBarHeaderColor: #{$color1_light_blue};
  --textColor: #{$textColor_light};
  --borderColor: #{$borderColor_light};
  --menuButtonColor: #{$color1_light_blue};
  --gridHighLightColor: #{$gridHighLightColor_light};
}

// mixin that enables css variables in dark mode
@mixin darken() {
  --backgroundColor: #{$bgColor_dark};
  --sideBarColor: #{$sideBarColor_dark};
  --sideBarHeaderColor: #{$color3_purple};
  --textColor: #{$textColor_dark};
  --borderColor: #{$borderColor_dark};
  --menuButtonColor: #{$color3_purple};
  --gridHighLightColor: #{$gridHighLightColor_dark};
}
