@import './base';
@import './utils';
@import './mixins';

//body.dark{
body {
  @include darken();
  background-color: var(--backgroundColor);
  color: var(--textColor);
}
body.light {
//body {
  @include lighten();
  background-color: var(--backgroundColor);
  color: var(--textColor);
}
