.flex {
  display: flex;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-10 {
  margin-bottom: 10px;
}

.ml-10 {
  margin-left: 10px;
}

$color1 : #70F1FA;
$color2 : #DBFA70;
$color3 : #CC71FA;
$color4 : #FAA870;
