.flex {
  display: flex;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-10 {
  margin-bottom: 10px;
}

.ml-10 {
  margin-left: 10px;
}

$color1_light_blue: #70F1FA;
$color2_light_green: #DBFA70;
$color3_purple: #CC71FA;
$color4_orange: #FAA870;
