<ngx-loading-bar></ngx-loading-bar>
<ng-container *ngIf="!isMobileDisplay">
  <main class="flex app-container">
    <img
      src="./assets/images/title.svg"
      id="title-image"
      alt="Website Title"
      class="top-left-corner"
    />
    <section class="flex content">
      <router-outlet></router-outlet>
    </section>
  </main>
</ng-container>

<ng-container *ngIf="isMobileDisplay && isLandscape">
  <main class="app-container">
    <section class="flex content">
      <router-outlet></router-outlet>
    </section>
  </main>
</ng-container>

<ng-container *ngIf="isMobileDisplay && isPortrait">
  <header class="header-mobile mt-40 mb-40">
    <img
      src="./assets/images/title-mobile.svg"
      class="title-image-mobile"
      alt="Website Title"
    />
  </header>
  <div class="portrait-to-landscape">
    <img
      *ngIf="mode == Mode.LIGHT"
      src="./assets/images/light/orientation.png"
      class="portrait-to-landscape-image"
      alt="Portrait to landscape image"
    />
    <img
      *ngIf="mode == Mode.DARK"
      src="./assets/images/dark/orientation.png"
      class="portrait-to-landscape-image"
      alt="Portrait to landscape image"
    />
  </div>
  <div class="ml-10">
    <h1>Only available in landscape mode</h1>
    <h3>Turn your device!</h3>
  </div>
</ng-container>
