@import "../styles/utils";
@import "../styles/styles";

.app-container {
  height: 100%;
}

.menu {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  &.genre {
    justify-content: flex-end;
  }
}

.content {
  flex: 1;
  justify-content: center;
  align-items: center;
  overflow: auto;
  height: 100%;
}

.header {
  width: 240px;
  font-size: 30px;
}

.column {
  flex-direction: column;
}

.left-menu {
  padding: 10px;
  justify-content: space-between;
  margin-bottom: 150px;
}

.nowrap {
  white-space: nowrap;
}

.header-mobile {
  font-size: 30px;
  width: 100%;
  text-align: center;
}

.pointer {
  cursor: pointer;
}

#title-image {
  width: 150px;
  aspect-ratio: 1;
}

.title-image-mobile {
  width: 300px;
}

.portrait-to-landscape {
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin: 50px;

  .portrait-to-landscape-image {
    width: 100px;
  }
}
