@import './base';
@import './utils';
@import './mixins';

body.dark{
  @include darken();
  background-color: var(--backgroundColor);
  color: var(--textColor);
}
body.light {
  @include lighten();
  background-color: var(--backgroundColor);
  color: var(--textColor);
}
