<h1>EBM Drums Patterns</h1>
<div>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/JtvyXf0Q2ug?si=g2pHeC_EU_2wjSO0"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
</div>

<div>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/G3qsp8vZn0g?si=BySVdOLEu07nXXSv"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
</div>
