#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  background-color: #282c34;
  color: white;
}

#sequencer {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 4px;
}

.step {
  height: 40px;
  width: 40px;
  background-color: #444;
  border-radius: 4px;
  cursor: pointer;
}

.active {
  background-color: #61dafb; /* Light blue color */
}
