@import "../../styles/styles";

:host {
  overflow-x: auto;
}

.play-pause-button {
  height: 40px;
  width: 40px;
  min-width: 40px;
  background-color: black;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  border: solid 2px black;
  font-size: 20px;
}

.sequencer-grid {
  flex-direction: column;
}

.sequencer {
  overflow-x: auto;
}

.beat-name {
  height: 40px;
  @include centered-text;
  width: 200px;
  min-width: 200px;
  font-size: 20px;
}

.bpm {
  height: 40px;
  @include centered-text;
  width: 120px;
  min-width: 120px;
  font-size: 20px;
}
