<div class="sequencer">
  <div class="flex sequencer-grid">
    <div *ngFor="let track of beat.tracks">
      <div id="track-container">
        <div class="track-name">
          <div>{{ track.name }}</div>
        </div>
        <div id="track" [ngClass]="track.steps.length == 16 ? 'sixteen-steps' : 'thirty-two-steps'">
          <div *ngFor="let step of track.steps; let i = index" class="step" [class.active]="step"
               [class.current]="i === this.soundService.index"></div>
        </div>
      </div>
    </div>
  </div>
</div>
