@import "../../styles/styles";

:host {
  overflow-x: auto;
}

.sequencer-grid {
  flex-direction: column;
}

#track-container {
  display: flex;
  margin: 4px 0 0 0;
}

#track {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  gap: 4px;
}

.sixteen-steps {
  grid-template-columns: repeat(16, 1fr);
}

.thirty-two-steps {
  grid-template-columns: repeat(32, 1fr);
}

.sixty-four-steps {
  grid-template-columns: repeat(64, 1fr);
}

.step {
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  border: solid 1px black;
}

.current {
  background-color: $color2;
}

.active {
  background-color: $color3;

  &.current {
    background-color: $color4;
  }
}

.tracks-container {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 4px 14px;
}

.track-container {
  display: contents;
}

.track-name {
  white-space: nowrap;
  height: 40px;
}
