@import "../../../styles/styles";

$step-size: 40px;
$border-radius: 4px;
$gap: 4px;

:host {
  overflow-x: auto;
}

.sequencer-grid {
  flex-direction: column;
}

#track-container {
  display: flex;
  margin-top: $gap;
}

#track {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  gap: $gap;
}

@mixin step-grid($columns) {
  grid-template-columns: repeat($columns, 1fr);
}

.sixteen-steps { @include step-grid(16); }
.thirty-two-steps { @include step-grid(32); }
.sixty-four-steps { @include step-grid(64); }

.step {
  height: $step-size;
  width: $step-size;
  background-color: var(--backgroundColor);
  border-radius: $border-radius;
  cursor: pointer;
  border: 1px solid var(--borderColor);
}

.current {
  background: repeating-linear-gradient(
      -45deg,
      var(--backgroundColor), var(--backgroundColor) 10px,
      var(--textColor) 5px, var(--textColor) 15px
  );
}

.active, .active.highlight {
  background-color: $color3_purple;

  &.current {
    background: repeating-linear-gradient(
        -45deg,
        $color3_purple, $color3_purple 10px,
        var(--backgroundColor) 5px, var(--backgroundColor) 15px
    );
  }
}

.highlight {
  background: var(--gridHighLightColor);
}

.current.highlight {
  background: repeating-linear-gradient(
      -45deg,
      var(--gridHighLightColor), var(--gridHighLightColor) 10px,
      var(--textColor) 5px, var(--textColor) 15px
  );
}

.tracks-container {
  display: grid;
  grid-template-columns: max-content auto;
  gap: $gap 14px;
}

.track-container {
  display: contents;
}

.track-name {
  white-space: nowrap;
  height: $step-size;
}
