<div class="main-container" [ngClass]="{'flex': !isMobileDisplay}">
  <div class="flex column left-menu" *ngIf="!isMobileDisplay">
    <div class="header"> DRUMS<br> PATTERN<br> LIBRARY</div>
    <div class="flex menu">
      <a class="button" [routerLink]="link.link" *ngFor="let link of links">{{ link.label }}</a>
    </div>
  </div>
  <div *ngIf="isMobileDisplay">
    <div class="header-mobile">DRUMS PATTERN LIBRARY</div>
    <div class="flex mobile-menu">
      <a class="item" [routerLink]="link.link" *ngFor="let link of links">{{ link.label }}</a>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
