.flex{
  display: flex;
  height: 100%;
}

.menu{
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: right;
}

.content{
  width: 100%;
}

.header {
  width: 140px;
  font-size: 30px;
}

.column{
  flex-direction: column;
}

.left-menu {
  border-right: solid 1px black;
}

.nowrap{
  white-space: nowrap;
}

.mobile-menu {
  width: 100%;
  overflow-x: auto;
  gap: 5px;

  a {
    all: unset;
  }

  .item{
    white-space: nowrap;
    background-color: darkgrey;
    color: white;
    border-radius: 15px;
    padding: 10px;
  }
}

.header-mobile{
  font-size: 30px;
  width: 100%;
  text-align: center;
}
