.main-container {
  height: 100%;
}

.flex {
  display: flex;
}

.mt-40 {
  margin-top: 40px;
}

.menu {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  &.genre {
    justify-content: flex-end;
  }

  .button {
    border-radius: 5px;
    width: 90%;
    padding: 5px;

    &.selected {
      background-color: black;
      color: white;
    }

    &:hover:not(.selected) {
      background-color: #cecece;
    }
  }
}

.content {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.header {
  width: 240px;
  font-size: 30px;
}

.column {
  flex-direction: column;
}

.left-menu {
  border-right: solid 1px black;
  padding: 10px;
}

.nowrap {
  white-space: nowrap;
}

.mobile-menu {
  width: 100%;
  overflow-x: auto;
  gap: 5px;

  .item {
    white-space: nowrap;
    background-color: darkgrey;
    color: white;
    border-radius: 15px;
    padding: 10px;
  }
}

.header-mobile {
  font-size: 30px;
  width: 100%;
  text-align: center;
}

.pointer {
  cursor: pointer;
}
