<main [ngClass]="{'flex': !isMobileDisplay}" id="app-container">
  <div class="flex column left-menu" *ngIf="!isMobileDisplay">
    <img src="./assets/images/title.svg" id="title-image" alt="">
    <div class="flex menu genre" *ngIf="musicGenres.length != 0">
      <h2>Genre</h2>
      <div class="button pointer" *ngFor="let genre of musicGenres; let i = index;" (click)="selectGenre(i)"
           [ngClass]="{'selected':i==selectedGenreIndex}">{{ genre.label }}
      </div>
    </div>
    <div class="flex menu" *ngIf="musicGenres.length != 0">
      <h2>Sous-genre</h2>
      <div class="button pointer" *ngFor="let subgenre of musicGenres[selectedGenreIndex].subGenres; let i = index;"
           (click)="selectSubGenre(i)" [ngClass]="{'selected':i==selectedSubGenreIndex}">{{ subgenre.label }}
      </div>
    </div>
  </div>
  <div *ngIf="isMobileDisplay">
    <div class="header-mobile mt-40 mb-40">
      <img src="./assets/images/title-mobile.svg" id="title-image-mobile" alt="">
    </div>
    <div class="ml-10">
      <div>
        <div class="flex mobile-menu mb-10" *ngIf="musicGenres.length != 0">
          <a class="item" *ngFor="let genre of musicGenres; let i = index" (click)="selectGenre(i)"
             [ngClass]="{'selected':i==selectedGenreIndex}">{{ genre.label }}</a>
        </div>
      </div>
      <div class="flex mobile-menu mb-40" *ngIf="musicGenres.length != 0">
        <a class="item" *ngFor="let subGenre of musicGenres[selectedGenreIndex].subGenres; let i = index"
           (click)="selectSubGenre(i)" [ngClass]="{'selected':i==selectedSubGenreIndex}">{{ subGenre.label }}</a>
      </div>
    </div>
  </div>
  <section class="flex content">
    <sequencer [beat]="beat"></sequencer>
  </section>
</main>
<footer class="flex">
  <button class="play-pause-button" (click)="toggleIsPlaying()">{{ this.soundService.isPlaying ? "⏸" : "▶" }}</button>
  <div class="beat-name">{{ beat.name | titlecase }}</div>
  <div class="bpm">{{ beat.bpm }} bpm</div>
</footer>
