<div class="flex main-container">
  <div class="flex column left-menu">
    <div class="header"> DRUMS<br> PATTERN<br> LIBRARY</div>
    <div class="flex menu">
      <a class="button" routerLink="/techno">Techno</a>
      <a class="button" routerLink="/metal">Metal</a>
      <a class="button" routerLink="/ebm">EBM</a>
      <a class="button" routerLink="/gabber">Gabber</a>
      <div>Acid</div>
      <div>Drum 'n Bass</div>
      <div>Dub</div>
    </div>
    <div>Babali - 2023</div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
