@import "../../../styles/styles";

$step-size: 40px;
$border-radius: 4px;
$gap: 4px;

#main-container {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 10px
}

.sequencer-grid {
  flex-direction: column;
}

#track {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  gap: $gap;

  .step {
    height: $step-size;
    width: $step-size;
    background-color: var(--backgroundColor);
    border-radius: $border-radius;
    border: 1px solid var(--borderColor);
  }

  .current {
    background: repeating-linear-gradient(
        -45deg,
        var(--backgroundColor), var(--backgroundColor) 10px,
        var(--textColor) 5px, var(--textColor) 15px
    );
  }

  .active, .active.highlight {
    background-color: $color3_purple;

    &.current {
      background: repeating-linear-gradient(
          -45deg,
          $color3_purple, $color3_purple 10px,
          var(--backgroundColor) 5px, var(--backgroundColor) 15px
      );
    }
  }

  .highlight {
    background: var(--gridHighLightColor);
  }

  .current.highlight {
    background: repeating-linear-gradient(
        -45deg,
        var(--gridHighLightColor), var(--gridHighLightColor) 10px,
        var(--textColor) 5px, var(--textColor) 15px
    );
  }
}

@mixin step-grid($columns) {
  grid-template-columns: repeat($columns, 1fr);
}

.sixteen-steps {
  @include step-grid(16);
}

.thirty-two-steps {
  @include step-grid(32);
}

.sixty-four-steps {
  @include step-grid(64);
}

.tracks-container {
  grid-column-start: 2;
  grid-row-start: 2;

  display: grid;
  grid-template-columns: auto;
  gap: $gap;
  overflow-x: auto;
}

.tracks-name {
  margin-top: 10px;
  grid-column-start: 1;
  grid-row-start: 2;

  .track-name {
    white-space: nowrap;
    height: calc($step-size + $gap);
  }
}

.sequencer-header {
  grid-column-start: 2;
  grid-row-start: 1;

  .label {
    vertical-align: bottom;

    .small {
      font-size: small;
    }

    .large {
      font-size: large;
      font-weight: bold;
    }
  }

  div + div {
    margin-top: 3px;
  }
}

.play-button-container {
  grid-column-start: 1;
  grid-row-start: 1;
  justify-content: center;
  align-items: center;

  .play-pause-button {
    height: 40px;
    width: 40px;
    min-width: 40px;
    background-color: var(--backgroundColor);
    color: var(--textColor);
    font-size: 20px;
    border: none;
  }
}
