@import "../../../../styles/styles";

#track-container {
  display: flex;
  margin: 4px 0 0 0;
}

#track {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 4px;
}

.step {
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  border: solid 1px black;
}

.active {
  background-color: #003b8f; /* Light blue color */
}

.track-name {
  text-align: end;
  height: 40px;
  width: 50px;
  min-width: 50px;
  margin-right: 10px;
}
